.main {
  margin: 30vh auto;

  position: relative;
  width: 80vw;
  min-width: $min-width;
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include portrait {
    margin: 30vh auto;
  }

  .selected {
    animation: moveUp 250ms forwards;

    @keyframes moveUp {
      from {
        transform: translate(-50%, 0);
      }
      to {
        transform: translate(-50%, -100%);
      }
    }
  }

  .discarted {
    animation: moveDown 125ms forwards;

    @keyframes moveDown {
      from {
        transform: translate(-50%, -100%);
      }
      to {
        transform: translate(-50%, 0);
      }
    }
  }

  .card {
    margin: 0 auto;

    position: absolute;
    background-color: $color-white;
    border: 1px solid rgb(202, 187, 168);

    border-radius: 1rem;

    width: 100%;
    min-width: $min-width;
    height: 120%;

    transform: translateX(-50%);

    @include portrait {
      transform: translate(-50%, 0%);
      font-size: $mobile-font-size;
    }

    .btn-fav {
      position: absolute;
      left: 1rem;
      top: 1rem;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-image: url("../assets/imgs/dinoegg.png");
      background-size: 100%;
      filter: invert(1);

      user-select: auto;

      transition: 200ms;

      &__fav {
        filter: invert(0);
        background-image: url("../assets/imgs/dinoegg-fav.png");
      }
    }

    &__tag {
      width: 15rem;
      height: 2rem;
      margin-left: 1rem;

      position: absolute;
      transform: translateY(-97%);
      background-color: $color-white;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top: 1px solid rgb(202, 187, 168);
      border-left: 1px solid rgb(202, 187, 168);
      border-right: 1px solid rgb(202, 187, 168);
      padding: 0 1rem;

      font-size: 1rem;
    }

    &__info {
      width: 100%;
      height: 100%;
      padding: 2rem;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      @include portrait {
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &__img-container {
      height: 100%;
      width: 50%;

      display: flex;
      justify-content: center;
      align-items: flex-start;

      @include portrait {
        width: 100%;
        height: auto;
        max-height: 50%;
        justify-content: center;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        mix-blend-mode: multiply;
        border-radius: 0.5rem;
      }
    }

    &__data {
      display: flex;
      flex-direction: column;

      width: 50%;
      height: 100%;
      overflow-y: auto;

      pointer-events: scroll;

      @include portrait {
        width: 100%;
        height: 50%;
      }
    }
  }
}
