.fav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem .5rem;

  color: $color-white;

  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  background-color: $color-grey;
  height: 70vh;
  width:12rem;
  border-radius: 2rem 0 2rem 2rem;

  transition: 500ms;

  overflow-y:auto;
  overflow-x:hidden;

  &:hover {
    opacity: 1;
  }

  &__title {
    font-size: 1.5rem;
    text-align: center;
    cursor:default;
  }

  p {
    cursor:pointer;
  }

  @include portrait{
    opacity:0;

    &:hover {
      opacity:0;
    }
  }
}
