.hud {
  display: block;
  position: absolute;
  bottom: 0;

  width: 100vw;
  min-width: $min-width;
  height: 12rem;

  user-select: none;

  overflow-x: hidden;

  &-btn {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 50%;

    display: flex;
    align-items: center;

    transform: translateY(-50%);

    background-color: $color-white-dark;

    border: 0;

    transition: 500ms;

    opacity: 0.5;

    &:active {
      opacity: 1;
    }

    img {
      width: 6rem;
      margin: 1rem;
    }
    &--left {
      left: -12rem;
      border-radius: 0 6rem 6rem 0;
      justify-content: flex-end;
      @include portrait {
        left: -4rem;
      }
    }

    &--right {
      right: -12rem;
      border-radius: 6rem 0 0 6rem;
      justify-content: flex-start;
      @include portrait {
        right: -4rem;
      }
    }
  }
}
