.header {
  width: 100%;
  height: 12rem;
  min-width: $min-width;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  background-color: $color-dark;

  h1 {
    min-width: $min-width;
  }

  @include portrait {
    height: 10rem;
  }

  .input-section__show-btn {
    display: none;

    background-color: $color-white;
    padding: 0.5rem;

    border-radius: 0.5rem;
    font-size: $mobile-font-size;

    border: 0;
    @include portrait {
      display: block;
    }
  }

  .input-section {
    display: inline-block;
    text-align: center;
    min-width: $min-width;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    color: $color-white;

    @include portrait {
      width: auto;
      height: auto;
      padding: 1rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-dark;
      flex-direction: column;

      border-radius: 1rem;

      font-size: $mobile-font-size;

      z-index: 10;
    }

    .input-section__hid-btn {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1rem;

      background-color: $color-white;
      padding: 0.5rem;

      border: 0;

      @include portrait {
        display: block;
      }
    }

    .filters {
      display: flex;
      gap: 1rem;

      @include portrait {
        flex-direction: column;
      }
    }
    .others {
      display: flex;
      gap: 1rem;
      @include portrait {
        flex-direction: column;
      }
    }
    .select-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      label {
        text-align: left;
        width: 8rem;
      }

      select {
        background-color: $color-white;
        color: $color-grey;
        width: 12rem;

        @include portrait {
          width: 12rem;
          height: 3rem;
        }
      }

      .input-wrapper {
        position: relative;
        input {
          width: 12rem;

          @include portrait {
            width: 12rem;
            height: 3rem;
          }
        }

        .dino-name__options {
          position: absolute;
          top: 1.5rem;
          width: 100%;
          max-height: 6rem;
          background-color: $color-white-dark;
          color: $color-dark;
          overflow-y: auto;
          overflow-x: hidden;
          @include portrait {
            top: 3rem;
            max-height: 9rem;
          }
          p {
            cursor: pointer;
          }
        }
      }
    }

    #dino-name {
      background-color: $color-white;
      color: $color-grey;
    }

    .btn {
      background-color: $color-white;
      color: $color-grey;
      padding: 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      @include portrait {
        font-size: $mobile-font-size;
      }
    }
  }

  .hidden {
    display: block;
    @include portrait {
      display: none;
    }
  }
}

.not-displayed {
  display: none;
}
