$mobile-max-width: 800px;

$min-width: 300px;


//colors
$color-grey-transparent: rgba(48, 48, 48, 0.9);
$color-grey: rgb(48, 48, 48);
$color-white: antiquewhite;
$color-white-dark: rgb(202, 187, 168);
$color-dark: rgb(24,24,24);

//text

$normal-font-size: 1rem;
$mobile-font-size: 1.5rem;