@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@import "./variables";
@import "./queries";
@import "./nav";
@import "./app";
@import "./hud";
@import "./favs";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  min-width: $min-width;
  background-color: $color-grey;
  background-image: linear-gradient(
      $color-grey-transparent,
      $color-grey-transparent
    ),
    url("../assets/imgs/minidinoegg.png"), url("../assets/imgs/minidinoegg.png");
  background-size: 200px;
  background-position: 0 0, 0 0, 100px 100px;
  overflow: hidden;

  width: 100vw;
  height: 100vh;
}

.title {
  color: $color-white;
  text-align: center;
}

.loader {
  position: absolute;
  top: -50%;
  width: 300px;
  animation: jump 1s infinite;
}

@keyframes jump {
  50% {
    transform: translateY(-10px);
  }
}
