@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
.header {
  width: 100%;
  height: 12rem;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: #181818;
}

.header h1 {
  min-width: 300px;
}

@media screen and (orientation: portrait) {
  .header {
    height: 10rem;
  }
}

.header .input-section__show-btn {
  display: none;
  background-color: antiquewhite;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: 0;
}

@media screen and (orientation: portrait) {
  .header .input-section__show-btn {
    display: block;
  }
}

.header .input-section {
  display: inline-block;
  text-align: center;
  min-width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  color: antiquewhite;
}

@media screen and (orientation: portrait) {
  .header .input-section {
    width: auto;
    height: auto;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #181818;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 1rem;
    font-size: 1.5rem;
    z-index: 10;
  }
}

.header .input-section .input-section__hid-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: antiquewhite;
  padding: 0.5rem;
  border: 0;
}

@media screen and (orientation: portrait) {
  .header .input-section .input-section__hid-btn {
    display: block;
  }
}

.header .input-section .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (orientation: portrait) {
  .header .input-section .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .input-section .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media screen and (orientation: portrait) {
  .header .input-section .others {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .input-section .select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .input-section .select-wrapper label {
  text-align: left;
  width: 8rem;
}

.header .input-section .select-wrapper select {
  background-color: antiquewhite;
  color: #303030;
  width: 12rem;
}

@media screen and (orientation: portrait) {
  .header .input-section .select-wrapper select {
    width: 12rem;
    height: 3rem;
  }
}

.header .input-section .select-wrapper input {
  width: 12rem;
}

@media screen and (orientation: portrait) {
  .header .input-section .select-wrapper input {
    width: 12rem;
    height: 3rem;
  }
}

.header .input-section .select-wrapper .dino-name__options {
  position: absolute;
  top: 3rem;
  width: 12rem;
  max-height: 6rem;
  background-color: #cabba8;
  color: #181818;
}

.header .input-section .select-wrapper .dino-name__options p {
  cursor: pointer;
}

.header .input-section #dino-name {
  background-color: antiquewhite;
  color: #303030;
}

.header .input-section .btn {
  background-color: antiquewhite;
  color: #303030;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  .header .input-section .btn {
    font-size: 1.5rem;
  }
}

.hidden {
  opacity: 1;
}

@media screen and (orientation: portrait) {
  .hidden {
    opacity: 0;
  }
}

.not-displayed {
  display: none;
}

.main {
  margin: 30vh auto;
  position: relative;
  width: 80vw;
  min-width: 300px;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: portrait) {
  .main {
    margin: 30vh auto;
  }
}

.main .selected {
  -webkit-animation: moveUp 250ms forwards;
          animation: moveUp 250ms forwards;
}

@-webkit-keyframes moveUp {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  to {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

@keyframes moveUp {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  to {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

.main .discarted {
  -webkit-animation: moveDown 125ms forwards;
          animation: moveDown 125ms forwards;
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.main .card {
  margin: 0 auto;
  position: absolute;
  background-color: antiquewhite;
  border: 1px solid #cabba8;
  border-radius: 1rem;
  width: 100%;
  min-width: 300px;
  height: 120%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (orientation: portrait) {
  .main .card {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    font-size: 1.5rem;
  }
}

.main .card .btn-fav {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../assets/imgs/dinoegg.png");
  background-size: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.main .card .btn-fav__fav {
  -webkit-filter: invert(0);
          filter: invert(0);
  background-image: url("../assets/imgs/dinoegg-fav.png");
}

.main .card__tag {
  width: 15rem;
  height: 2rem;
  margin-left: 1rem;
  position: absolute;
  -webkit-transform: translateY(-97%);
          transform: translateY(-97%);
  background-color: antiquewhite;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top: 1px solid #cabba8;
  border-left: 1px solid #cabba8;
  border-right: 1px solid #cabba8;
  padding: 0 1rem;
  font-size: 1rem;
}

.main .card__info {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

@media screen and (orientation: portrait) {
  .main .card__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.main .card__img-container {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (orientation: portrait) {
  .main .card__img-container {
    width: 100%;
    height: auto;
    max-height: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .card__img-container img {
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: multiply;
  border-radius: 0.5rem;
}

.main .card__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  pointer-events: scroll;
}

@media screen and (orientation: portrait) {
  .main .card__data {
    width: 100%;
    height: 50%;
  }
}

.hud {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 300px;
  height: 12rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.hud-btn {
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #cabba8;
  border: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0.5;
}

.hud-btn:active {
  opacity: 1;
}

.hud-btn img {
  width: 6rem;
  margin: 1rem;
}

.hud-btn--left {
  left: -12rem;
  border-radius: 0 6rem 6rem 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (orientation: portrait) {
  .hud-btn--left {
    left: -4rem;
  }
}

.hud-btn--right {
  right: -12rem;
  border-radius: 6rem 0 0 6rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (orientation: portrait) {
  .hud-btn--right {
    right: -4rem;
  }
}

.fav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem .5rem;
  color: antiquewhite;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  background-color: #303030;
  height: 70vh;
  width: 12rem;
  border-radius: 2rem 0 2rem 2rem;
  -webkit-transition: 500ms;
  transition: 500ms;
  overflow-y: auto;
  overflow-x: hidden;
}

.fav-list:hover {
  opacity: 1;
}

.fav-list__title {
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .fav-list {
    opacity: 0;
  }
  .fav-list:hover {
    opacity: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  min-width: 300px;
  background-color: #303030;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 48, 48, 0.9)), to(rgba(48, 48, 48, 0.9))), url("../assets/imgs/minidinoegg.png"), url("../assets/imgs/minidinoegg.png");
  background-image: linear-gradient(rgba(48, 48, 48, 0.9), rgba(48, 48, 48, 0.9)), url("../assets/imgs/minidinoegg.png"), url("../assets/imgs/minidinoegg.png");
  background-size: 200px;
  background-position: 0 0, 0 0, 100px 100px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.title {
  color: antiquewhite;
  text-align: center;
}

.loader {
  position: absolute;
  top: -50%;
  width: 300px;
  -webkit-animation: jump 1s infinite;
          animation: jump 1s infinite;
}

@-webkit-keyframes jump {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes jump {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=styles.css.map */